main {
  min-height: 80vh;

}

h3 {
  padding: 1rem 0;
  
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

 h3 , h2, h1 {
  font-family: 'Raleway', sans-serif;
 }  
h6{
 font-family: 'Russo One', sans-serif;
}



/* .navbar-brand {
  float: left;
  padding: 15px;
  text-align: center;
  width: 100%;
}
 */


.rating span {
  margin: 0.1rem;

}

h4, p {
  color:#7f5bc3;

}


#home {
  color: rgb(134, 135, 146);
  font-family: 'Helvetica';
  font-weight: 500;

}

#home:hover {
  transform: scale(1.3);
  color:white;

}


.fa-shopping-basket, .fa-address-card {
  color: #7b4fb4;
} 

/* .fa-shopping-basket:hover, .fa-address-card:hover {
  color: rgb(238, 201, 244);
} */



.text-center py-3{
  color: #7b4fb4;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}


.carousel-caption h2 {
  color: #7b4fb4;
}

.fal fa-rocket{
  color:white;
}

.carousel img {
  height: 400px;
  padding: 50px;
  margin: 40px;
  border-radius: 0%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2, h4, h3, h1, .navbar-brand {
    font-size: 2.8vw;
  }
}
